body{
    background-color: #f6f6f6;
}
.ant-meu{
    line-height: 2.8rem;
  }
.ant-menu-item{
    font-size:1rem !important;
    padding-left:1rem;
    padding-right:1rem;
  }
  
.comm-left{
    background-color: #FFF;
    padding:.3rem;
    border-radius: .3rem;
    border-bottom:1px solid #eee;
}
.comm-box{
    background-color: #FFF;
    margin-left: .5rem;
    padding:.3rem;
    border-radius: .3rem;
    border-bottom:1px solid #eee;

}
.comm-main{
    margin-top: .5rem;
}

.code {
    display: block ;
    background-color:#f3f3f3;
    padding: .5rem !important;
    overflow-y: auto;
    font-weight: 300;
    font-family: Menlo, monospace;
    border-radius: .3rem;
}

.title-anchor{
   color:#888 !important;
   padding:4px !important;
   margin: 0rem !important;
   height: auto !important;
   line-height: 1.2rem !important;
   font-size: .9rem !important;
   border-bottom: 1px dashed #eee;
}
.active{
   color:rgb(30, 144, 255) !important;
}