.adDiv{
    margin-top: .5rem;
    background-color: #FFF;
    margin-left: .5rem;
    padding:.3rem;
    border-radius: .3rem;
    border-bottom:1px solid #eee;
}
.adDiv div{
    border-radius: .3rem;
    margin-bottom: .2rem;
    overflow: hidden;
}